body{
	background:#18BC9C;
}
.navbar-custom{
	background:#2C3E50;
	font-family:"Monserrat","Helivetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700;
	border:none;
}
.navbar-custom .navbar-header h2{
	color:white;
}
@media(min-width:1200px){
#chatbot .container{
	max-width:630px;
	height:auto;
}
}
#chatbot .container{
	margin-top:100px;
}
.container .panel-heading{
	background:#2C3E50;
	color:white;
}
.cont{
	width:560px;
	height:400px;
	background:white;
	border:3px;
}
.chat-message{
	width:80%;
	padding:15px;
	margin:5px 10px 0;
	background:#ff00ff;
	border-radius:10px;
	font-size:18px;
	height:auto;
}
.friend {
	background:#18BC9C;
	height:auto;
}
.self {
	background:#18BC9C;
	order:-1;
	height:auto;
}
.chat{
	display:flex;
	flex-flow:row wrap;
	align-items:flex-start;
	margin-bottom:10px;
}
.chatlogs::-webkit-scrollbar{
	width:8px;
}
.chatlogs::-webkit-scrollbar-thumb{
	border-radius:8px;
	background:rgba(0,0,0,.1);
}
.chatlogs {
	padding:10px;
	width:100%;
	height:430px;
	overflow-x:hidden;
	overflow-y:scroll;
	
}
.user-photo{
	width:50px;
	height:50px;
	background:#2C3E50;
	border-radius:50%;
}
